body {
  background-color: #F8F8F8;
}

paper-tabs{
  background-color: #00bcd4;
  color: #fff;
}

core-pages{}

core-pages > div{
  overflow: auto;
}

.recepe{
  position: relative;
  margin: 8px;
  margin-top: 16px;
}

.recepe h1{
  line-height: 48px;
  margin: 0;
  margin-left: 8px;
  margin-top: 8px;
}

.recepe .ingredients{
  line-height: 24px;
  font-size: 16px;
}

.recepe .ingredients div{
  padding-left: 8px;
}

.buttons{
  height: 48px;
  text-align: right;
}

.buttons paper-button{
  margin-top: 6px;
  height: 36px;
}

.fruit{
  background-color: #64B5F6; /*Blue 300*/;
}

.gravy{
  background-color: #FFF176; /*Yellow 300*/;
  
}

.meat{
  background-color: #E57373; /*Red 300*/;
  
}

.veg{
  background-color: #81C784; /*Green 300*/;
  
}